.sparkamplify-icon {
    position: relative;
    top: 3px;
}

.pycon-icon {
    position: relative;
    top: 6px;
}

.more {
    color: #686565;
    opacity: 1;
    font-weight: 700;
}

.linooohon {
    text-decoration: underline;
}

:root {
    --font: 'Special Elite', cursive;
    --text-color: #000;
}

* {
    font-family: var(--font);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.entrance {
    max-width: 550px;
    /* width: 90%; */
    padding: 0 1.5rem;
    position: relative;
}

p,
li {
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    opacity: 0.6;
    transition: 0.1s;
}

a:hover {
    opacity: 1;
    background-color: rgb(64, 114, 107);
    color: rgb(242, 244, 244);
}

@media (min-width: 768px) {
    p,
    li {
        font-size: 1.15rem;
        letter-spacing: 3px;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* width:100%; */
    /* height:100%; */
    z-index: -1;
}

#eraser_button {
    position: relative;
    top: 900;
    left: 0;
    background-color: rgb(254, 254, 254);
    color: #686565;
}

#eraser_button:hover {
    cursor: pointer;
}